{% extends "layout.html" %}

{% block body %}
<p id = "tutorial_text"> Liquorice halvah candy lemon drops jelly-o chocolate bar donut. Sweet croissant macaroon sugar plum candy canes liquorice oat cake. Jelly beans dragée halvah brownie candy canes.
Ice cream chocolate lemon drops wypas croissant. Powder fruitcake chupa chups toffee jelly danish sweet roll pie. Tart jelly candy canes pie sugar plum tart chocolate bar cupcake faworki.
Jelly-o cake ice cream gummi bears apple pie biscuit jelly beans chocolate cake candy canes. Icing jujubes cake tart chocolate. Donut pudding halvah pie. Bonbon jelly chupa chups oat cake cake applicake sesame snaps.
 </p>


{% endblock %}