{% extends "layout.html" %}

{% block body %}
<h2 id= "titles" >Welcome!</h2>
<p id = "tutorial_text"> 
	Hi!

	I designed Unicorn programming language in order to teach programming concepts to those who didn't have prior coding experience.
	The goal was to write a language that would utilize the general concepts that are present in the majority of programming languages but also make it human enough for a user to understand. I see Unicorn programming language as a “stepping stone”, once you learn the concepts presented here, taking on other programming languages should me much easier. 
</br>
</br>
	At the top of the page you will see the navigation bar with tutorials. Try them out :)
</br>
</br>
	Unicorn is still in the state of development; so, more functionality will be added soon along with the tutorials.
</br>
</br>
	Type the following code into Input area and then press Ctrl + Enter to see how this website works and have your first piece of Unicorn code run. 
</br>
</br>
	<code>a <- 5</code> </br>
	<code>	b <- 10 </code></br>
	<code>	is a < b ? then: </code></br>
	<code>	show "a is less than b"</code></br>
	<code>	end</code></br>
	<code>	or a>b ? then:</code></br>
	<code>	show "a is more than b"</code></br>
	<code>	end</code></br>
	<code>	otherwise:</code></br>
	<code>	show "a equals b"</code></br>
	<code>	end</code></br>

</p>




{% endblock %}