<!DOCTYPE html>
<html>
<head>
	<title>Unicorn</title>
    <!-- <link href="/static/css/style.css" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/bootstrap.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- Loading Flat UI -->
  <link href="static/css/flat-ui.css" rel="stylesheet">

</head>
<body>
	<div class="header">

		<div class="container-fluid">
		
		<h1 id = "header_text"><img class="logo" src="static/img/unicorn.png">Learn to Code with Unicorn</h1>
	</div>
	</div>
	 <div class="pagination">
            <ul>
              <li class="previous"><a href="#"><img src="static/img/pager/previous.png" /></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li class="next"><a href="#"><img src="static/img/pager/next.png" /></a></li>
            </ul>
          </div>
	<div class="container-fluid">
		<div class = "row-fluid">
		<div class="span4" id ="tutorial">
			<h2 id= "titles" >Tutorial</h2>
			{% block body %}
			{% endblock %}
		</div>
		<div class="span4" id ="input">
			<h2 id= "titles">Input</h2>
			<p id = "directions">input code and press Ctrl + Enter to run it</p>
			<textarea id="repl" name="code" rows="25" cols="80" ></textarea>
		</div>
		<div class="span4" id = "result">
			<h2 id= "titles">Result</h2>
		</div>
	</div>
	</div>
	<footer>
		<div class="container">

			<div class = "row-fluid">
		<div class = "span12">
		<p id = "footertext">Unicorn language is created by <a href = "https://twitter.com/Gulnara">Gulnara</a></p>
	</div>
	</div>
	</div>
	</footer>
	<!-- </div> -->
</body>
</html>

    <script type="text/javascript">
    $("#repl").focus();
        $('#repl').bind('keypress', function(e) {
            if (e.ctrlKey && (e.keyCode == 13)) {
                $.ajax({
                    url: '/parse',

                    data: {lines: $("#repl").val()},

                    success: function(rslt) {
                        
                        $("#result").append(rslt);
                        //$("#main").prepend('<pre>>'+$("#repl").val() + '</pre>');

                        var el = $("#repl");
                      
                        el.focus();
                        console.log(rslt);
                    }
                });
                e.preventDefault();
            }});

    </script>