<!DOCTYPE html>
<html>
<head>
	<title>Unicorn</title>
    <!-- <link href="/static/css/style.css" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- Loading Flat UI -->
  <link href="/static/css/flat-ui.css" rel="stylesheet">

</head>
<body>
	<div class="container-fluid">
    <div class = "sharing">
      <div id="fb-root">
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=554049127960046";fjs.parentNode.insertBefore(js, fjs);}
          (document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-like" data-href="http://www.unicorncode.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
        </div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn to code with Unicorn http://unicorncode.com/ !" data-via="UnicornCode">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
  </div>

</div>
	<div class="header">

		<div class="container-fluid">

  		<h1 id = "header_text"><a href="{{url_for("index")}}"><img class="logo" src="/static/img/unicorn.png"></a>Learn to Code with Unicorn  
  		</h1>
	
     </div>
	
  </div>

	<div class="pagination">
    <h4>Tutorials</h4>
    <ul>
      {% for tutorial in tutorials %}
       <li> <a href="{{url_for("try_tutorial", id=tutorial.id)}}">
        {{tutorial.title}}</a></li>
          {% endfor %}
    </ul>
  </div>

	<div class="container-fluid">
		<div class = "row-fluid">
		  <div class="span4" id ="tutorial">
        
          {% block body %}
          {% endblock %}


      </div>

      <div class="span4" id ="input">
        <h2 id= "titles">Input</h2>
          <p id = "directions">input code and press Ctrl + Enter to run it</p>
          <textarea id="repl" name="code" rows="25" cols="80" ></textarea>
      </div>

		  <div class="span4" id = "result">
        <h2 id= "titles">Result</h2>
		  </div>
    </div>
  </div>

<!-- 
	<div class="container-fluid">
    <div class = "sharing">
      <div id="fb-root">
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=554049127960046";fjs.parentNode.insertBefore(js, fjs);}
          (document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-like" data-href="http://unicorncode.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
        </div>

		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn to code with Unicorn http://unicorncode.com/ !" data-via="UnicornCode">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
  </div> -->
  
	<footer>
		<div class="container">
      <div class = "row-fluid">
        <div class = "span12">
		      <p id = "footertext">Unicorn language is created by <a href = "https://twitter.com/Gulnara" target="_blank">Gulnara</a></p>
        </div>
      </div>
    </div>
	</footer>
	<!-- </div> -->
	 <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/static/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/static/js/custom_checkbox_and_radio.js"></script>
    <script src="/static/js/custom_radio.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
    <script src="/static/js/application.js"></script>

    <a title='Spinnakr Active Analytics' href='http://spinnakr.com'><img alt='Spinnakr Active Analytics' src='//s5.spn.ee/images/so-badge.gif' border='0' /></a>
<script>var _spinnakr_site_id='940776932';(function(d,t,a){var g=d.createElement(t), s=d.getElementsByTagName(t)[0];g[a]=a;g.src='//s5.spn.ee/js/so.js'; s.parentNode.insertBefore(g,s)}(document,'script','async'));</script>


    
</body>



</html>

    <script type="text/javascript">
    $("#repl").focus();
        $('#repl').bind('keypress', function(e) {
            if (e.ctrlKey && (e.keyCode == 13 || e.keyCode == 10)) {
                $.ajax({
                    url: '/parse',

                    data: {lines: $("#repl").val()},

                    success: function(rslt) {
                        
                        $("#result").append(rslt);
                        //$("#main").prepend('<pre>>'+$("#repl").val() + '</pre>');

                        var el = $("#repl");
                      
                        el.focus();
                        console.log(rslt);
                    }
                });
                e.preventDefault();
            }});

    </script>