{% extends "admin_layout.html" %}

{% block body %}
<div class="container-fluid">
<h2> this is where tutorials will be listed </h2>


<ul>
	{% for tutorial in tutorials %}
	<a href="{{url_for("view_tutorial", id=tutorial.id)}}">
	<li>{{tutorial.title}}</a>
    <div class = "btn">
		<a href="{{ url_for('edit_tutorial', id=tutorial.id) }}">Edit, this!</a> </div>
  </li>

	{% endfor %}
</ul>

<div class = "btn"><a href="{{ url_for('new_tutorial') }}">create tutorial</a></div>
<!--     <form method="POST" action="{{url_for("new_tutorial")}}">
        <label for="title">Title
        <input type="text" name="title" id="title"></input>
        <label for="text">Text
        <input type="text" name="text" id="text"></input>
        <input type="submit"></input>
    </form> -->


<!-- <form action="" method="POST" accept-charset="utf-8">

  <table>
    {% for field in form %}

    <tr>
      <th>{{ field.label }}</th>
      <td>{{ field }}</td>
      {% if field.errors %}
      <td>
      <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>


  <p><input type="submit" value="Save post"/></p>
</form> -->

<!-- 
<button class = "btn"><a href="#">Create New</a></button> -->
<!-- </div> -->

<button class = "btn"><a href="{{url_for("logout")}}">Logout</a></button>
{% endblock %}