<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

  </head>
  <body>
  	<!-- <div class="container-fluid"> -->
<div id="login">
  <form class="form-signin"action="{{url_for("authenticate")}}" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div>
      <label for="email"></label>
      <input type="text" name="email" class="input-block-level" placeholder="Email address">
    </div>
    <div>
      <label for="password"></label>
      <input type="password" name="password" class="input-block-level" placeholder="Password">
    </div>
     <button class="btn btn-medium btn-primary" type="submit">Sign in</button>
  </form>
</div>

 <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>
</body>
</html>