{% extends "admin_layout.html" %}

{% block body %}


    <div class="container-fluid">
      <div class = "editor">

<form action="" method="POST" accept-charset="utf-8">

  <table>
    {% for field in form %}

    <tr>
      <th>{{ field.label }}</th>
      <td>{{ field }}</td>
      {% if field.errors %}
      <td>
      <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>


  <div class = "btn"><input class = "btn" type="submit" value="Save post"/></div>
</form>
</div>

</div>
{% endblock %}